{% extends "navbar.html" %}
{% block content %}
{% if question %}
	<div class="col-sm-12 col-sm-offset-3">
		<h3>{{ question.content }}</h3>
		<h4>Deadline for submission : {{ question.deadline }}</h4>
		<h4><p align="right">added on:{{ question.timestamp }}</p></h4>
		<hr/>
		{% if not instructor %}
			<a class="btn btn-md btn-success pull-right" href='{% url "add-submission" question.id %}' role="button">Submit</a>
				<hr/> 
			{% for submission in my_submission %}
				<h4><a href="{{ submission.file_link }}">{{ submission.student.user }}</a></h4>
			{% endfor %}
			<hr/>
		{% elif instructor %}
			<h3>Submissions</h3>
			{% for submission in submissions %}
				<h4><a href="{{ submission.file_link }}">Submitted by: {{ submission.student.user }}</a></h4>
			{% endfor %}
		{% endif %}
{% endif %}
{% endblock %}